.example-spacer {
    flex: 1 1 auto;
  }
.product {
    margin-right: 70px;
}
.mat-toolbar {
  background-color: rgb(53, 53, 213);
  color: white;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}

